<ion-content color="medium">
  <ion-card class="ion-margin-top">
    <ion-card-header class="ion-text-center">
      <ion-title>
        <ion-icon class="ion-margin-end" name="flash-outline" size="medium"></ion-icon>
        <ion-icon class="ion-margin-end" name="headset-outline" size="medium"></ion-icon>
        <b class="ion-margin-end">STORE</b>
        <ion-icon class="ion-margin-end" name="mic-outline" size="medium"></ion-icon>
        <ion-icon name="glasses-outline" size="medium"></ion-icon>
      </ion-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="ion-margin-top">
    <ion-list>
      <ion-item *ngFor="let item of items" lines="none">
        <ion-thumbnail slot="start">
          <ion-img src="{{ item.img }}"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2><b>{{ item.name }}</b></h2>
          <p>{{ item.views }} viewers/s</p>
        </ion-label>
        <ion-button color="success" size="small">
          <ion-label>
            <h6><b>Upgrade</b></h6>
            <h1><b>$ {{ item.price }}</b></h1>
          </ion-label>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>