<ion-content color="medium">
  <ion-card class="ion-margin-top">
    <ion-card-header class="ion-text-center">
      <ion-title>
        <ion-icon class="ion-margin-end" name="flash-outline" size="medium"></ion-icon>
        <ion-icon class="ion-margin-end" name="headset-outline" size="medium"></ion-icon>
        <b class="ion-margin-end">STORE</b>
        <ion-icon class="ion-margin-end" name="mic-outline" size="medium"></ion-icon>
        <ion-icon name="glasses-outline" size="medium"></ion-icon>
      </ion-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="ion-margin-top">
    <ion-list>
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <ion-img src="https://ionicframework.com/docs/img/demos/thumbnail.svg"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2><b>Glasses</b></h2>
          <p>100 viewers/s</p>
        </ion-label>
        <ion-button color="success" size="larger">
          <ion-label>
            <h2><b>Upgrade</b></h2>
            <h2><b>$ 10</b></h2>
          </ion-label>
        </ion-button>
      </ion-item>
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <ion-img src="https://ionicframework.com/docs/img/demos/thumbnail.svg"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2><b>Ring Light</b></h2>
          <p>200 viewers/s</p>
        </ion-label>
        <ion-button color="success" size="larger">
          <ion-label>
            <h2><b>Upgrade</b></h2>
            <h2><b>$ 50</b></h2>
          </ion-label>
        </ion-button>
      </ion-item>
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <ion-img src="https://ionicframework.com/docs/img/demos/thumbnail.svg"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2><b>Tripod</b></h2>
          <p>500 viewers/s</p>
        </ion-label>
        <ion-button color="success" size="larger">
          <ion-label>
            <h2><b>Upgrade</b></h2>
            <h2><b>$ 100</b></h2>
          </ion-label>
        </ion-button>
      </ion-item>
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <ion-img src="https://ionicframework.com/docs/img/demos/thumbnail.svg"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2><b>Mic</b></h2>
          <p>1500 viewers/s</p>
        </ion-label>
        <ion-button color="success" size="larger">
          <ion-label>
            <h2><b>Upgrade</b></h2>
            <h2><b>$ 250</b></h2>
          </ion-label>
        </ion-button>
      </ion-item>
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <ion-img src="https://ionicframework.com/docs/img/demos/thumbnail.svg"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2><b>New Phone</b></h2>
          <p>3000 viewers/s</p>
        </ion-label>
        <ion-button color="success" size="larger">
          <ion-label>
            <h2><b>Upgrade</b></h2>
            <h2><b>$ 500</b></h2>
          </ion-label>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>